<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.css')}}""">
    <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'jquery.js') }}" ></script>
  </head>
  <body>
    <div class="container">
      <section class="content" id="contents">
          <br>
          <h2 class="display-3">Logged Out!</h2>
          <br>
            <a class="btn btn-lg btn-warning btn-space" href="contact">Contact</a>
    </section>
    </div>
  </body>
</html>
