<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  {% with messages=get_flashed_messages() %}
  {% if messages %}
  <ul class="bg-warning">
    {% for message in messages %}
    <li>{{ message|safe }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.css')}}""">
  <script type = "text/javascript"
  src = "{{ url_for('static', filename = 'jquery.js') }}" ></script>
</head>
<body>
  <div id="content">
    <a class="btn btn-lg btn-danger float-right mr-5" href="/logout">Log out</a>
    <a class="btn btn-lg btn-info float-right mr-3" href="/">Home Page</a>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% block content %}
    <form action="{{url_for('search_handler')}}" method="post" class="form-inline">

          {{ form.search_field.label(class="col-3 col-form-label col-form-label-lg")}}
          {{ form.search_field(class="form-control")}}
          &nbsp;&nbsp;&nbsp;
          {{ form.search(class="btn btn-primary")}}
    </form>
  </div>
  {% endblock %}
</body>
</html>
